proj1-code/f1.txt
proj1-code/f11.bin
proj1-code/f11.txt
proj1-code/f12.bin
proj1-code/f13.txt
proj1-code/f12.txt
proj1-code/f14.bin
proj1-code/f15.bin
proj1-code/f14.txt
proj1-code/f16.txt
proj1-code/f15.txt
proj1-code/f17.bin
proj1-code/f17.txt
proj1-code/f19.txt
proj1-code/f3.bin
proj1-code/f5.txt
proj1-code/f7.bin
proj1-code/f8.bin
proj1-code/test_results/project_01-13-1-results.tmp
proj1-code/test_results/project_01-13-2-results.tmp
proj1-code/test_results/project_01-13-2-valgrd.tmp
proj1-code/test_results/project_01-13-3-results.tmp
proj1-code/test_results/project_01-13-4-results.tmp
proj1-code/test_results/project_01-13-4-valgrd.tmp
proj1-code/test_results/project_01-13-results.tmp
proj1-code/test_results/raw/project_01-13-1-actual.tmp
proj1-code/test_results/raw/project_01-13-1-expected.tmp
proj1-code/test_results/raw/project_01-13-2-actual.tmp
proj1-code/test_results/raw/project_01-13-3-actual.tmp
proj1-code/test_results/raw/project_01-13-2-expected.tmp
proj1-code/test_results/raw/project_01-13-3-expected.tmp
proj1-code/test_results/raw/project_01-13-4-actual.tmp
proj1-code/test_results/raw/project_01-13-4-expected.tmp
proj1-code/test_files/hello.txt
proj1-code/test_files/gatsby.txt
proj1-code/test_files/f5.txt
proj1-code/test_files/f4.txt
proj1-code/test_files/f4.bin
proj1-code/test_files/f3.txt
proj1-code/test_files/f2.bin
proj1-code/test_files/f3.bin
proj1-code/test_files/f1.txt
proj1-code/test_files/f1.bin
proj1-code/test.tar
proj1-code/minitar.o
proj1-code/minitar
proj1-code/large.bin
proj1-code/hello.txt
proj1-code/file_list.o
